:root {
    --bg: #131313;
    --text: white;
    --primary: #2F6AEA;
}

* {
    margin: 0;
    padding: 0;
    font-family: inter;
}

body {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--bg);
    color: var(--text);
    background-color: black;
}

main {
    width: 100vw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.name {
    font-family: inter;
    font-weight: 1000;
    font-size: 4em;
    position: relative;
    /* animation: landingAnimeName 900ms cubic-bezier(0.7, 0, 0.3, 1) forwards; */
}

.loader {
    position: absolute;
    height: 12.5px;
    width: 13.5px;
    background: var(--primary);
    border-radius: 3px;
    top: 50%;
    left: 50%;
    transform: translateX(calc(-50% - 1.5px)) translateY(calc(-50% - 17.75px));
    animation: loader1 600ms cubic-bezier(0.7, 0, 0.3, 1) forwards 150ms;
    z-index: 100000;
}

@keyframes loader1 {
    0% {
        width: calc(100vw + 13.5px);
        height: calc(100vh + 12.5px);
        opacity: 1;
        border-radius: 50px;
        opacity: 1;
    }

    99% {
        height: 12.5px;
        width: 13.5px;
        border-radius: 3px;
        opacity: 1;
    }

    100% {
        height: 12.5px;
        width: 13.5px;
        border-radius: 3px;
        opacity: 0;
    }
}

@keyframes loader2 {
    0% {
        width: calc(100vw + 13.5px);
        height: calc(100vh + 12.5px);
        opacity: 1;
        border-radius: 50px;
    }

    99% {
        height: 12.5px;
        width: 13.5px;
        border-radius: 3px;
    }

    100% {
        height: 12.5px;
        width: 13.5px;
        border-radius: 3px;
    }
}

.loaderFiller {
    position: absolute;
    height: 12.5px;
    width: 13.5px;
    border-radius: 3px;
    background: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translateX(calc(-50% - 1.5px)) translateY(calc(-50% - 17.75px));
    animation: loader2 600ms cubic-bezier(0.7, 0, 0.3, 1) forwards;
    z-index: 100000;
}

.name::after {
    content: "Developer";
    position: absolute;
    right: 0;
    top: 110%;
    font-weight: 100;
    font-size: 0.4em;
    /* animation: landingAnimeSub 900ms cubic-bezier(0.7, 0, 0.3, 1) forwards; */
}

@keyframes landingAnimeName {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.8);
    }
}

@keyframes landingAnimeSub {
    0% {
        opacity: 0;
        transform: translateY(5vh);
    }

    100% {
        transform: translateY(0vh);
        opacity: 1;
    }
}

@keyframes landingAnimeLogo {
    0% {
        opacity: 0;
        transform: translateX(-5vh);
    }

    100% {
        transform: translateX(0vh);
        opacity: 1;
    }
}

@keyframes landingAnimeOption {
    0% {
        opacity: 0;
        transform: translateX(5vh);
    }

    100% {
        transform: translateX(0vh);
        opacity: 1;
    }
}

@keyframes landingAnimeNav {
    0% {
        opacity: 0;
        transform: translateY(-5vh);
    }

    100% {
        transform: translateY(0vh);
        opacity: 1;
    }
}

nav {
    width: 100vw;
    height: 10vh;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.logo {
    height: 3.85vh;
    width: auto;
    animation: landingAnimeLogo 900ms cubic-bezier(0.7, 0, 0.3, 1) forwards;
}

.options {
    display: flex;
    align-items: center;
    height: 5.25vh;
    background: rgba(255, 255, 255, 0.0);
    border: 1px solid rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding-left: 2vw;
    border-radius: 1vh;
    animation: landingAnimeNav 900ms cubic-bezier(0.7, 0, 0.3, 1) forwards;
}

.option {
    margin-right: 2vw;
    font-size: 0.8em;
    cursor: pointer;
}

.otherOption {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.25vh;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 0 2vw;
    font-size: 0.8em;
    border-radius: 1vh;
    animation: landingAnimeOption 900ms cubic-bezier(0.7, 0, 0.3, 1) forwards;
}

.bubble {
    position: absolute;
    padding: 0.5rem 1rem;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 9999px;
    color: white;
    font-size: 0.9rem;
    backdrop-filter: blur(4px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transform-style: preserve-3d;
    will-change: transform;
    pointer-events: none;
    /* animation: float 6s ease-in-out infinite; */
}

.css {
    color: #2965f1;
    border: 1px solid rgba(41, 101, 241, 0.4);
}

.html {
    color: #FF5733;
    border: 1px solid rgba(255, 88, 51, 0.4);
}

.python {
    color: #FFE873;
    border: 1px solid rgba(255, 232, 115, 0.4);
}

.js {
    color: #f0db4f;
    border: 1px solid rgba(240, 218, 79, 0.4);
}

@keyframes float {
    0% {
        transform: translateY(0px) translateZ(0);
    }

    50% {
        transform: translateY(-15px) translateZ(0);
    }

    100% {
        transform: translateY(0px) translateZ(0);
    }
}

.blurDiv {
    width: 1000px;
    aspect-ratio: 1 / 1;
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    transform: translateX(-50%) translateY(50%);
    background-image: url(whiteBlob.png);
    background-position: center;
    background-size: cover;
    animation: rotate 5s infinite;
}

@keyframes rotate {
    0% {
        opacity: 0.6;
    }

    50% {
        opacity: 0.9;
    }

    100% {
        opacity: 0.6;
    }
}

.noise {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

.projectSection{
    width: 100vw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.projectsLogo{
    padding-left: 0.5vw;
    display: flex;
    align-items: center;
}

.proLogo{
    height: 9vh;
    overflow: hidden;
    margin-right: 0.5vw;
    cursor: pointer;
    transition: all 150ms ease-out;
}

.proLogo:hover{
    height: 10.5vh;
}

.proLogo > img{
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
}

.projectsNameContainer{
    position: relative;
    height: 45vh;
    width: 100%;
}

.projectName{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 45vh;
    color: var(--primary);
    overflow: hidden;
    position: absolute;
}

.projectName > span{
    font-size: 35vh;
    font-weight: 900;
    font-family: Barlow Condensed;
    transform: translateY(100%);
    transition: transform 600ms cubic-bezier(0.3, 0.84, 0.44, 1);
}

.projectName > span.appear{
    transform: translateY(0%) !important;
}
.projectName > span.pre{
    transition: none !important;
}

@keyframes appear {
    0%{
        transform: translateY(100%);
    } 100%{
        transform: translateY(0%);
    }
}

@keyframes disappear {
    0%{
        transform: translateY(0%);
    } 100%{
        transform: translateY(100%);
    }
}