:root {
    --border: #2b2b2e;
    --secondary: #5092d9;
}

* {
    margin: 0;
    padding: 0;
    font-family: inter;
}

body {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--bg);
    color: var(--text);
    background: #000 url("../images/noise.webp");
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(36, 1fr);
    grid-template-rows: repeat(18, 1fr);
    height: 70vh;
    aspect-ratio: 36 / 18;
    gap: 1vh;
    box-sizing: border-box;
}


.gridItem {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid var(--border);
    background: #101010;
    box-sizing: border-box;
    padding: 2vh;
}

.awards {
    grid-column: 1 / span 10;
    grid-row: 1 / span 8;
    padding-bottom: 0;
}

.awards .card-content {
    padding-bottom: 0 !important;
}

.spotify {
    grid-column: 1 / span 8;
    grid-row: 9 / span 4;
    position: relative;
}



.spotify>.card-content::after {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 15px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background-color: #151515;
    background-image: url("../images/loading+animation.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    filter: grayscale(1) contrast(1);
    z-index: 9999;
    opacity: var(--after-opacity, 1);
    pointer-events: none;
    transition: opacity 150ms ease-in-out;
}

.wpm {
    grid-column: 1 / span 8;
    grid-row: 13 / span 6;
}

.linkedin {
    grid-column: 11 / span 2;
    grid-row: 7 / span 2;
}

.github {
    grid-column: 13 / span 2;
    grid-row: 7 / span 2;
}

.contact {
    grid-column: 15 / span 6;
    grid-row: 7 / span 2;
    cursor: pointer;
}

.contact .card-content::after {
    position: absolute;
    content: " ";
    width: 0ch;
    transform: translateY(0.75rem);
    height: 2px;
    background: var(--secondary);
    border-radius: 100px;
    z-index: 9999999;
    transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.contact .card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.contact .card-content svg {
    height: 1.5rem;
    fill: white;
    transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.contact:hover .card-content::after {
    width: 9ch;
}

.contact:hover svg {
    transform: rotate(-45deg);
}

.contact svg:hover {
    transform: rotate(-45deg) scale(1.25);
}

.stack {
    grid-column: 11 / span 10;
    grid-row: 1 / span 6;
}

.activity {
    grid-column: 21 / span 16;
    grid-row: 1 / span 8;
    position: relative;
    cursor: pointer;
}

.keyboard {
    grid-column: 9 / span 17;
    grid-row: 9 / span 8;
}

.background {
    grid-column: 26 / span 11;
    grid-row: 9 / span 10;
}

.fun {
    grid-column: 9 / span 17;
    grid-row: 17 / span 2;
}

.heading {
    border: 1px solid var(--border);
    border-radius: 10000px;
    padding: 0.625vw 1vw;
    background: black;
    margin-bottom: 2vh;
    font-size: 0.9rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

.heading svg {
    margin-right: 0.5vw;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subHeading {
    font-size: 1.1rem;
}

.achievmentsContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    box-sizing: border-box;
    margin-top: 2vh;
    scrollbar-color: var(--border) transparent;
    position: relative;
    cursor: pointer;
    scroll-behavior: smooth !important;
}

.helper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
}

.achievment {
    width: 100%;
    height: 75px;
    top: 0;
    min-height: 75px;
    position: absolute;
    border-radius: 15px;
    background: #D0D7E2;
    display: flex;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
    padding: 0 0.75vw;
    margin-bottom: 2vh;
    transition: all 0.3s ease;
    opacity: 1;
    transform: scale(1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 1;
}

.achievment:hover {
    transform: translateY(-7.5px) scale(1) !important;
    z-index: 5 !important;
}

.achievment>.icon {
    height: calc(100% - 1.5vw);
    aspect-ratio: 1 / 1;
    background: black;
    border-radius: calc(15px - 0.5vw);
    margin-right: 0.75vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.achievment>.icon>img {
    height: 80%;
    width: auto;
}

.holidayHacks {
    height: auto !important;
    width: 80% !important;
}

.content {
    width: 100%;
    height: calc(100% - 1.75vw);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.achievment>.content>.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
}

.achievment>.content>.header>.name {
    font-size: 0.85rem;
    font-weight: 500;
}

.achievment>.content>.header>.time {
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.6);
}

.achievment>.content>.desc {
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.75rem;
}

.desc>.link {
    text-decoration: underline;
}

.techstackContainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    padding-left: 0%;
}

.stackScroller {
    display: flex;
    justify-content: start;
    align-items: center;
    width: max-content;
    height: 100%;
    animation: scrollLeft 15s linear infinite;
    animation-play-state: running;
}

.stackScroller:hover {
    animation-play-state: paused;
}

.techstackContainer::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(to right, #101010, transparent, #101010);
}

.techstackContainer>.stackScroller>a {
    height: 57.5px;
    margin: 0 1vw;
}

.techstackContainer>.stackScroller>a>img {
    height: 100%;
    filter: grayscale(1) contrast(1);
    transition: filter 150ms ease-out;
}

.techstackContainer>.stackScroller>a:hover img {
    filter: none;
}



@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/*  */

#contrib-grid {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(7, 10%);
    gap: 5px;
    /* padding: 20px; */
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    scrollbar-color: var(--border) transparent;
}

.contrib {
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    background-color: #161b22;
    position: relative;
}

.contrib[data-count="1"] {
    background-color: #0e4429;
}

.contrib[data-count="2"] {
    background-color: #006d32;
}

.contrib[data-count="3"] {
    background-color: #26a641;
}

.contrib[data-count="4"] {
    background-color: #39d353;
}

.contrib[data-count="5"],
.contrib[data-count="6"],
.contrib[data-count="7"],
.contrib[data-count="8"] {
    background-color: #39d353;
}

/* Tooltip */
.contrib:hover::after {
    content: attr(data-date);
    position: absolute;
    background: #222;
    color: #fff;
    font-size: 10px;
    padding: 4px 6px;
    border-radius: 4px;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    pointer-events: none;
    z-index: 10;
}

.contrib:hover {
    outline: 1px solid #888;
}

.contributions {
    position: absolute;
    right: 2vh;
    top: calc(2vh + 0.5vw);
    font-size: 0.85rem;
}

.lastPushed {
    font-size: 0.85rem;
}

.linkedin,
.github {
    padding: 0;
    cursor: pointer;
}

.linkedin .card-content svg,
.github .card-content svg {
    transform: scale(1.25);
    fill: white;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);


}

.linkedin:hover .card-content svg,
.github:hover .card-content svg {
    fill: #5092d9;
}

.linkedin .card-content,
.github .card-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spotify:hover .spotifyLogo img {
    filter: none;
}

.spotifyLogo {
    background: black;
    height: 1.75rem;
    width: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    position: absolute;
    right: 1vh;
    top: 1vh;
    border: 1px solid var(--border);
    border-radius: 10000px;
}

.spotifyLogo img {
    filter: grayscale(1) contrast(2);
    height: 80%;
    transition: all 150ms ease-in-out;
}


.spotify,
.spotify .card-content {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}

#cover {
    height: 90%;
    border-radius: 15px;
    width: auto;
    margin-right: 2vh;
}

.songStats {
    height: 60%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#status {
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.75);
}

#title {
    font-size: 0.95rem;
    color: rgba(255, 255, 255, 0.95);
}

#artist {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.75);
}

.keyboard>.card-content {
    display: grid;
    grid-template-columns: repeat(58, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 6px;
}

.key {
    grid-row: span 2;
    grid-column: span 4;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 0.6rem;
    user-select: none;
    aspect-ratio: 1 / 1;
    background: #1c1c1c;
    box-shadow:
        inset 0 1px 2px rgba(255, 255, 255, 0.08),
        inset 0 -1px 2px rgba(255, 255, 255, 0.06),
        0 2px 4px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    position: relative;
}

.key::after {
    content: attr(data-count);
    font-size: 0.35rem;
    position: absolute;
    bottom: 0.75vh;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    color: rgba(255, 255, 255, 0.5);
    width: min-content;
    height: min-content;
    font-weight: 400;
}

.delete,
.tab,
.esc {
    grid-column: span 6;
    aspect-ratio: auto;
    height: 90%;
}

.caps,
.return {
    grid-column: span 7;
    aspect-ratio: auto;
    height: 100%;
}

.shift {
    grid-column: span 9;
    aspect-ratio: auto;
    height: 100%;
}

.space {
    grid-column: span 20;
    aspect-ratio: auto;
    height: 100%;
}

.command {
    grid-column: span 5;
    aspect-ratio: auto;
    height: 100%;
}

.arrow {
    grid-column: span 12;
    aspect-ratio: auto;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background: none;
    box-shadow: none;
}

.arrowKey {
    aspect-ratio: auto;
    background: #1c1c1c;
    box-shadow:
        inset 0 1px 2px rgba(255, 255, 255, 0.08),
        inset 0 -1px 2px rgba(255, 255, 255, 0.06),
        0 2px 4px rgba(0, 0, 0, 0.4);
    width: 92.5%;
    height: 100%;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrowKey img {
    width: 15%;
}

.down img {
    transform: rotate(180deg);
}

.right img {
    transform: rotate(90deg);
}

.left img {
    transform: rotate(270deg);
}

.up {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.left {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.right {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

.down {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.key.active {
    background-color: #101010;
    transform: scale(0.95);
    transition: background-color 0.1s ease;
}

.bLeft {
    display: flex;
    justify-content: start;
    align-items: end;
    padding: 0.5vh;
    font-size: 0.5rem;
}

.bLeft::after {
    bottom: calc(100% - 0.75vh);
    left: calc(100% - 0.75vh);
    /* transform: translateX(50%) translateY(50%); */
}

.bRight {
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 0.5vh;
    font-size: 0.5rem;
}

.bRight::after {
    bottom: calc(100% - 0.75vh);
    left: calc(0.75vh);
}

.bCenter {
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 0.5vh;
    font-size: 0.5rem;
}

.bCenter::after {
    bottom: calc(100% - 0.75vh);
    left: calc(50%);
}

.space::after {
    bottom: 50%;
    left: 50%;
}

.fKey {
    display: flex;
    font-size: 0.5rem;
    padding: 0.5vh;
}

.fnKey {
    display: flex;
    justify-content: end;
    align-items: start;
    padding: 0.5vh;
    font-size: 0.5rem;
}

.fnKey::after {
    bottom: calc(0.75vh);
    left: calc(0.75vh);
}

.arrowKey::after {
    display: none !important;
}

.arrow::after {
    display: none !important;
}

.touch {
    border: 1px solid #09090A;
    background: #222224;
    height: 61%;
    aspect-ratio: 1 / 1;
    border-radius: 100000px;
}

.touchKey::after {
    display: none;
}


.key.zeroCount::after {
    display: none;
    opacity: 0;
}

.vanditKey {
    color: #5092d9;
}

.wpm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}

.bgWpm {
    position: absolute;
    content: "106";
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    font-size: 10rem;
    font-weight: 600;
    color: rgba(129, 129, 129, 0.1);
}

.speedCont {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: absolute;
    z-index: 2;
    bottom: 2vh;
}

.speedDetails {
    width: 100%;
    display: flex;
}

.speedVal {
    font-size: 2rem;
    margin-bottom: 1vh;
}

.speedVal span {
    font-size: 4rem;
}

.WPMtime {
    margin-right: 2vh;
}

.WPMicon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5vh;
}

.WPMtime,
.WPMaccuracy {
    display: flex;
}

.fun {
    cursor: pointer;
    overflow: visible;
    background: none;
    border: none;
    align-items: start;
}

.playBar {
    position: absolute !important;
    width: 200px;
    height: 60px;
    border: 1px solid var(--border);
    background: #101010;
    text-align: center;
    border-radius: 20px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: width 100ms ease-out, border 300ms ease-out, background 300ms ease-out;
    z-index: 9999;
    will-change: transform;
    left: 0;
}

.playBar .card-content {
    transition: width 100ms ease-out, border 300ms ease-out, background 300ms ease-out;
}

.playBar:hover .card-content {
    background: whitesmoke !important;
    color: black;
}

.playBar:hover .card-content svg {
    filter: invert(0);
}

.playBar .card-content svg {
    margin-left: 0.5vh;
    height: 0.8rem;
    filter: invert(1);
}

.options {
    position: absolute !important;
    z-index: 3 !important;
    background: rgb(0, 0, 0);
}

.highlight1,
.highlight2 {
    width: 10vw;
    height: 10vh;
    position: absolute;
    border-radius: 1vh;
    opacity: 0;
    top: 5vh;
    left: 50%;
    transform-origin: top left;
    transform: translateX(-50%) translateY(-50%) scale(1);
    transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.highlight1 {
    background: rgba(255, 255, 255, 0.25);
    z-index: 2;
}

.highlight2 {
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

.github {
    z-index: 9999;
    will-change: transform !important;
    backface-visibility: hidden !important;
    contain: layout style paint !important;
}

.background {
    font-size: 1.25rem;
}

.backgroundContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
}

.card-content {
    /* width: 100%;
    height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    /* background: #101010; */
    box-sizing: border-box;
}

.playBar>.card-content {
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/* -------- cards  glow -------- */

#cards:hover>.card::after {
    opacity: 1;
}

#cards:hover>.gridItem .card::after {
    opacity: 1;
}

.card {
    background-color: #101010;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover::before {
    opacity: 1;
}

.card::before,
.card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
    pointer-events: none;
}

.card::before {
    background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, 0.06),
            transparent 40%);
    z-index: 3;
}

.card::after {
    background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, 0.4),
            transparent 40%);
    z-index: 1;
}

.card>.card-content {
    position: absolute;
    background-color: #101010;
    border-radius: inherit;
    inset: 1px;
    padding: 2vh;
    z-index: 2;
}

.highlight-active {
    transform: scale(1.2) translateX(-50%) translateY(-50%);
    opacity: 1;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

a {
    color: inherit;
    text-decoration: none;
}


@media (max-width: 599px) {

    html,
    body {
        overflow-x: hidden;
        position: relative;
        width: 100vw;
        max-width: 100vw;
    }

    body {
        width: 100vw;
        max-width: 100vw;
        overflow-y: scroll;
        height: max-content;
        max-height: max-content;
        overflow: hidden;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
    }

    main {
        width: 100vw;
        padding-top: 15vh;
        height: max-content;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(77, 1fr);
        height: 328.5vw;
        width: 90vw;
        aspect-ratio: auto;
        gap: 1vh;
        box-sizing: border-box;
        margin-bottom: -1vh;
    }


    .gridItem {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        border-radius: 20px;
        overflow: hidden;
        border: 1px solid var(--border);
        background: #101010;
        box-sizing: border-box;
        padding: 2vh;
    }

    .awards {
        grid-column: 1 / span 10;
        grid-row: 1 / span 15;
    }

    .stack {
        grid-column: 1 / span 10;
        grid-row: 16 / span 9;
    }

    .activity {
        grid-column: 1 / span 10;
        grid-row: 25 / span 11;
    }

    .linkedin {
        grid-column: 1 / span 2;
        grid-row: 36 / span 4;
    }

    .github {
        grid-column: 3 / span 2;
        grid-row: 36 / span 4;
    }

    .contact {
        grid-column: 5 / span 6;
        grid-row: 36 / span 4;
    }

    .spotify {
        grid-column: 1 / span 10;
        grid-row: 40 / span 8;
    }

    .wpm {
        grid-column: 1 / span 10;
        grid-row: 48 / span 11;
    }

    .background {
        grid-column: 1 / span 10;
        grid-row: 59 / span 18;
    }

    .fun {
        display: none;
    }

    .keyboard {
        display: none;
    }

    .heading {
        padding: 2vw 3vw;
    }

    .heading svg {
        margin-right: 1.5vw;
    }

    .content {
        width: 100%;
        box-sizing: border-box;
        height: calc(100% - 5vw);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .achievment>.content>.header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: black;
    }

    .achievment>.content>.header>.name {
        font-size: 0.85rem;
        font-weight: 500;
    }

    .achievment>.content>.header>.time {
        font-size: 0.75rem;
        color: rgba(0, 0, 0, 0.6);
    }

    .achievment>.content>.desc {
        color: rgba(0, 0, 0, 0.8);
        font-size: 0.75rem;
    }

    .achievment>.icon {
        height: calc(100% - 4vw);
        margin-right: 2.75vw;
    }

    .achievment {
        padding: 0 2.75vw;
    }

    .techstackContainer>.stackScroller>a {
        height: 45px;
        margin: 0 3vw;

    }

    #contrib-grid {
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: repeat(7, 11px);
        grid-auto-columns: 11px;
        gap: 2px;
        width: 100%;
        height: 100%;
        overflow-x: scroll;
        scrollbar-color: var(--border) transparent;
        position: relative;
    }

    #contrib-grid::after{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, #101010, transparent);
    }

    .contrib {
        border-radius: 2px;
    }

    .contributions {
        right: 2vh;
        top: calc(2vh + 2.5vw);
        font-size: 0.75rem;
    }

    .lastPushed {
        font-size: 0.75rem;
        position: absolute;
        bottom: 2vh;
    }

    .background {
        font-size: 1.15rem;
    }
}
